*{
font-family: 'comic sans MS', cursive;
}
.services-grid{
display: flex;
flex-wrap: wrap;
gap: 30px;
justify-content: center;
}
.service-card{
text-align: center;
width: 45%;
box-shadow: 0 6px 12px black;
border-radius: 12px;
}
.emoji{
font-size: 50px;
}
p{
color: rgb(143, 138, 138);
}
.services{
	width: 100%;
	margin: 0 auto;
}
.costam{
width: 92%;
text-align: center;
}
h1{
text-align: center;
}